@model CNDer.Models.Servidor

@{
}
<br>
<h1 style="text-align: center; color: #3D405C;">Buscar Servidor</h1>

<br><div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
    <form asp-controller="Servidores" asp-action="Busca" method="get">
    <p>
        <div class="input-group mb-5">
           <div class="input-group-text">
     <i class="fas fa-user-alt"></i>
    </div>
       <input class="form-control" type="text" placeholder="Digite nome, cpf ou matrícula" name="searchString">
        &nbsp;&nbsp;&nbsp;<input id="busc" type="submit" class="btn btn-info" value="Buscar" />
        </div>
    </p>
</form>
</div>
@if(Model !=null){
<div class="col-md-5">  </div>
<div class="col-md-2">
        <div class="card">
  <div class="card-header"style="background-color: #9fcf92;">
    <h5 class="card-title" style="text-transform: uppercase;"> <strong>@Model.Nome</strong></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" ><p> <b>CPF:</b> <var id="cpf" style="float: right"> @Model.Cpf</var></p></li>
    <li class="list-group-item"><p><b>Matrícula:</b> <var style="float: right"> @Model.Matricula</var></p></li>
  </ul>
</div>
</div>
<div class="col-md-5"> <a asp-action="GerarCertidao" asp-route-id="@Model.Id" class="btn btn-warning"><i class="far fa-file-alt"></i></a> </div>



<div class="col-md-3"></div>
<div class="col-md-6">
</div>
if(Model.Objetos.Where(k => k.StatusAtivo == true).Any()){
<div class="col-md-12">    
        <hr style="border-top: 1px solid #808080;">
    <br>
  <div class="col-md-8" style="margin: auto;"> 
    <h4 style="margin: auto; text-align: center;">Penalidades ativas</h4>
    <br>
  <table class="table table-sm table-bordered table-striped" style="width: 50rem; margin: auto;">
    <thead class="thead" style="background-color: #25a2a2;">
        <tr style="text-align: center;">
            <th style="width: 10rem;">
               Processo
            </th>
            <th style="width: 8rem;">
               Tipo
            </th>
            <th style="width: 17rem;">
               Penalidade
            </th>
            <th style="width: 17rem;">
               Data inicio
            </th>
            <th style="width: 17rem;">
               Data fim
            </th>
            <th style="width: 17rem;">
               Duração total
            </th>
            <th style="width: 17rem;">
               Dias restantes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Objetos.Where(k => k.StatusAtivo == true)) {
        <tr style="text-align: center;">
            <td>
                @item.NumeroSei
            </td>
            <td>
             @item.Tipo.Nome   &nbsp;&nbsp;  @item.NumeroTipo
            </td>
            <td>
               @item.Penalidade
            </td>
            <td>
               <var> @CNDer.Helpers.FormatadorHelper.FormatarData(item.DataInicio)</var>
            </td>
            <td>
              <var>@CNDer.Helpers.FormatadorHelper.FormatarData(item.DataFim)</var>
            </td>
            <td>
           <var>@CNDer.Helpers.CalculosHelper.DuracaoPenalidade(item).Days</var>&nbsp;<var>Dias</var>
            </td>
            <td>
              <var>@CNDer.Helpers.CalculosHelper.DiasRestantesPenalidade(item).Days</var>&nbsp;<var>Dias</var>
            </td>
            
        </tr>
}
    </tbody>
</table>
<br>
<br>
</div> 
</div>
}
else{
    <br>
    <div class="col-md-12">
        <hr style="border-top: 1px solid #A0A0A0; width: 78%;">
    </div>
   <div class="col-md-12">
       <br>
     <div class="row">
         <h4 style="margin: auto;"><i class="fas fa-times" style="margin-right: 12px; color: red;"></i>O servidor não possui penalidades ativas</h4>
         
    </div>

   </div>
    <br>
    <br>
}

}
</div>
<div class="col-md-3"></div>
<br>
<br>

</div>


@if(!ViewBag.primeiraVez){
   <div class="col-md-12">
       <br>
     <div class="row">
         <div class="alert alert-danger" role="alert" style="margin: auto; opaticy: 0.5;">
            <h4 class="alert-heading">SERVIDOR NÃO ENCONTRADO!</h4>
            <p>Verifique se o nome do <b>servidor</b>, <b>cpf</b> ou <b>matrícula</b> foram digitados corretamente.</p>
          </div>
    </div>

   </div>
   <br>
   <br>
   <br>
}else{

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script>
    $(document).ready(function () { 
        var $mascaraCpf = $("#cpf");
        $mascaraCpf.mask('000.000.000-00', {reverse: true});
    });
</script>

           