@model IEnumerable<CNDer.Models.Servidor>

 <div class="row">
    <div class="col-md-10">
            <h3 style="color: #3D405C;" > <b> Servidores</b></h3>
        </div>
                <form asp-controller="Servidores" asp-action="Index">
            <p>
                <input class="form-control" type="text" placeholder="Nome, cpf ou matrícula" name="SearchString" style="float: left; width: 200px; margin: 2px;" >
        &nbsp;&nbsp;<input type="submit" class="btn btn-info" value="Buscar" />&nbsp;&nbsp;
        <a class="btn btn-success" asp-action="Create">Novo Servidor</a>
                
            </p>
        </form>
  </div>
    

<div class="col-md-12">
        <table class="table">
            <thead>
                <tr  style="color: #3D405C;">
                    <th>
                        Nome
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Matricula)
                    </th>
                     <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                      <var class="cpf">  @Html.DisplayFor(modelItem => item.Cpf) </var>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        <a asp-action="Create" asp-controller="Objetos" asp-route-ServidorId="@item.Id" class="btn btn-primary">Selecionar</a> 
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Visualizar</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script>
    $(document).ready(function () { 
        
        $('.cpf').mask('000.000.000-00', {reverse: true});
    });
</script>